body{
	background-color: #FFFFFF;
	color: #0066FF;
	font-size: 87.5%; /*14 px*/
	font-family: Arial,'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
}
a{
	text-decoration: none;
}
a:link,a:visited{
	color: #CF5C3F;
}
a:hover, a:active{
	background-color: #CF5C3F;
	color: #FFFFFF;
}
button
{
	width: 200px;
	height: 50px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.body{
	margin: 0 auto;
	width: 70%;
	clear: both; /*makes container with no floating elemnts*/
}

.mainHeader img {
	width: 30%;
	height: auto;
	margin: 2% 0;
}

.mainHeader nav
{
	background-color: #0099FF;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.mainHeader nav ul
{
	list-style: none;
	margin: 0 auto;

}
.mainHeader nav ul li
{
	float: left;
	display: inline;	
}
.mainHeader nav a:link, .mainHeader nav a:visited
{
	color: #FFFFFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited
{
	background-color: #D6D6FF;
	text-shadow: none;
}

.mainHeader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


.mainContent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.content {
	width: 70%;
	float: left;
}
.topContent {
	background-color: #D6D6FF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	padding: 3% 5%;
	margin-top: 15px;
}
.post-info {
	font-style: italic;
	color: #999;
	font-size: 85%;
}
.list ul #links {

	list-style-image: url(images/1.png); 
    padding-left: 20px; 
}
.Sidebar1 {
	width: 21%;
	float: left;
	background-color: #D6D6FF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 15px;
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 2% 3%;
}

.mainFooter {
	width: 100%;
	height: 40px;
	float : left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #D6D6FF;
	margin-top: 2%;
	margin-bottom: 2%;
}
.mainFooter p{
	width: 92%;
	margin: 10px auto;
	color: #FFFFFF;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
	.body{
		width: 90%;
		font-size: 95%;
	}

	.mainHeader img {
		width: 100%;
	}

	.mainHeader nav
	{
		height: 160px;
	}
	.mainHeader nav ul
	{
		padding-left : 0; 
	}
	.mainHeader nav ul li
	{
		width: 100%;
		/*margin: 0 auto;*/
		text-align: center;
	}
	.mainHeader nav a:link, .mainHeader nav a:visited
	{
		padding: 10px 25px;
		height: 20px;
		display: block;
	}

	.content {
		width: 100%;
		float: left;
		margin-top: 2%;
	}

	.post-info
	{
		display: none;
	}

	.topContent {
		background-color: #D6D6FF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.Sidebar1 {
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}

}